.error {
    color: #DC4C64;
}

.content-height {
    height: 750px;
    margin-top: 5rem;
}

@media (max-width:576px){
    .content-height {
        height: 625px;
        margin-top: 4.5rem;

    }
}
